@charset "utf-8";

/* (C) Copyright 2013 - Queue */
/* Main Stylesheet */

/* TODO: Consider splitting into separate css files for each unique layout section (topNav, listView, etc.) */

html, body {
  height: 100%;
}

html {
  overflow: hidden;
  font-family: "Helvetica Neue", Arial, sans-serif !important;
}

body {
  margin: 0;
}

/* Top Navigation */
#topNav {
  height: 48px;

  /* Gradient */
  background: #191919; /* for non-css3 browsers */
  background: #2c2c2d; /* Test Spotify color */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#191919'); /* for IE */*/
  /*background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#191919)); /* for webkit browsers */*/
  /*background: -moz-linear-gradient(top,  #2f2f2f,  #191919); /* for firefox 3.6+ */*/
}

#topNav #navLogo img {
  width: 34px;
  float: left;
  padding: 7px;
}

#topNav #navLogo div {
  float: left;
  padding: 10px 20px 7px 0px;
  border-right: 1px solid #1f1f1f;
  color: white;
  font-size: 25px;
}

#topNav #navSettings {
  float: right;
  height: 34px;
  padding: 14px 12px 0px 14px;
  border-left: 1px solid #3b3b3c;
}

#topNav #navContent {
  overflow: hidden;
  height: 34px;
  padding: 7px;
  border-left: 1px solid #3b3b3c;
  border-right: 1px solid #1f1f1f;
}

#topNav #navContent #searchForm {
  float: left;
  width: 25%;
  min-width: 170px;
}

#topNav #navContent #searchBar {
  width: 100%;
  height: 26px;
  margin-top: 3px;
  margin-left: 10px;
  border-radius: 6px;
  border: 0px none;
}

#topNav #navContent #searchBar:focus {
  outline: none;
}

/* List View */
#listView {
  position: relative;
  float: left;
  width: 30%;
  height: 100%;
  border-right: 1px solid #c5c5c4;
  overflow: scroll;
}

#listView .listItem {
  padding: 8px;
  overflow: hidden;
  cursor: pointer;

  /* Fading transition for background */
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

#listView .listItem:nth-child(odd),
#listView .listItem:nth-child(odd).selected:hover {
  background-color: #ffffff;
}

#listView .listItem:nth-child(even),
#listView .listItem:nth-child(even).selected:hover {
  background-color: #f7f7f5;
} 

#listView .listItem:hover {
  background-color: #e6e6df;
}   

#listView .listItem.selected {
  position: relative;
  z-index: 100;
  width: 102%;
  border: 1px solid #c5c5c4;
}

#listView .listItem img {
  width: 60px;
  float: left;
  margin-right: 8px;
}

/* List View Login Overlay */
.overlay {
  /* UNCOMMENT this line to show normal listView */
  display: none;

  position: absolute;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.75);
  z-index: 20;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  left: 0px;
}

.overlay #fb-root {
  /* Center the div */
  position: absolute;
  top: 40%;
  left: 50%;
  height: 176px;
  width: 80%;
  margin-top: -88px;   /* Half the height */
  margin-left: -40%;  /* Half the width */

  box-sizing: border-box;
  padding: 10px 15px 15px;
  background-color: #f7f7f5;
  border: 1px solid #c5c5c4;
  -moz-box-shadow: 0 0 8px 0.5px #c5c5c4;
  -webkit-box-shadow: 0 0 8px 0.5px #c5c5c4;
  box-shadow: 0 0 8px 0.5px #c5c5c4;
  font-size: 15px;
  text-align: center;
}

.overlay #fb-root #loginButton {
  position: absolute;
  left: 50%;
  width: 60%;
  margin-left: -30%;  /* Half the width */
  cursor: pointer;
}

/* Detail View */
#detailView {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 25px;
  background-color: #f7f7f5;
  font-size: 25px;
}

#detailView img {
  width: 275px;
  float: left;
  margin-right: 25px;
}
