<div id="detailView">
    <img class="image" ng-src="{{currentItem.song.images.extraLarge}}" />
    <div class="info">
        <div class="title">{{currentItem.song.name}}</div>
        <div class="subTitle">{{currentItem.song.artist.name}}</div>
    </div>
    <div id="links">
        <a href="{{currentItem.urls.spotify}}">Spotify Icon Here</a>
        <a href="{{currentItem.urls.grooveshark}}">Grooveshark Icon Here</a>
        <a href="{{currentItem.urls.pandora}}">Pandora Icon Here</a>
    </div>
</div>