<!-- (C) Copyright 2013 - Queue -->
<!-- Queue Partial -->

<div id="listView">
    <div class="overlay">
        <div id="fb-root" ng-controller="LoginCtrl">
            <p>You are not currently logged in.</p><p>To claim your Queue, login with Facebook below:</p>
            <img id="loginButton" src="img/fb-loginbutton.png" ng-click="login()" />
        </div>
    </div>
    <list-item></list-item>                             
    <list-item></list-item>                             
    <list-item></list-item>                             
    <list-item></list-item>                             
    <list-item></list-item>                             
    <list-item></list-item>                           	
</div>
<div id="detailView">
	<img src="http://cdn.gorillaz.com/the-fall/img/the_fall.jpg" />
    <table class="info">
        <tr class="title"><td>The Parish of Space Dust</td></tr>
        <tr class="subTitle"><td>Gorillaz</td></tr>
    </table>
</div>