<!-- (C) Copyright 2013 - Queue -->
<!-- Queue Partial -->
<div id="listView">
    <div class="overlay">
        <div id="fb-root" ng-controller="LoginCtrl">
            <p>You are not currently logged in.</p>
            <p>To claim your Queue, login with Facebook below:</p>
            <img id="loginButton" src="img/fb-loginbutton.png"
            ng-click="login()" />
        </div>
    </div>

    <div class="listItem" ng-repeat="item in queue" ng-click="changeCurrentItem($index)"
         ng-class="($index==currentItemIndex) ? 'selected' : ''">
        <img ng-src="{{item.song.images.large || 'http://userserve-ak.last.fm/serve/174s/86640949.png'}}" />
        <table class="info">
            <tr class="title">
                <td>{{item.song.name}}</td>
            </tr>
            <tr class="subTitle">
                <td>{{item.song.artist.name}}</td>
            </tr>
        </table>
    </div>
</div>
<div id="detailView">
    <img ng-src="{{currentItem.song.images.extraLarge}}" />
    <table class="info">
        <tr class="title">
            <td>{{currentItem.song.name}}</td>
        </tr>
        <tr class="subTitle">
            <td>{{currentItem.song.artist.name}}</td>
        </tr>
    </table>
</div>
