<!-- (C) Copyright 2013 - Queue -->
<!-- Queue Partial -->
<wrapper ng-controller="QueueViewCtrl">
    <div id="listView" >

    <ng-include src="'partials/listViewHeader.html'" > </ng-include>

        <div class="listItem" ng-repeat="item in queue | filter:query"
                              ng-click="changeCurrentItem($index)"
                              ng-class="($index==currentItemIndex) ? 'selected' : ''">


            <img class="image" ng-src="{{item.song.images.large || 'http://userserve-ak.last.fm/serve/174s/86640949.png'}}" />

            <div class="info">
                <div class="title">{{item.song.name}}</div>
                <div class="subTitle">{{item.song.artist.name}}</div>
            </div>

        </div>
    </div>

    <ng-include src="'partials/details.html'" > </ng-include>
</wrapper>
