@charset "utf-8";

/* (C) Copyright 2013 - Queue */
/* Main Stylesheet */

html, body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
}

/* Main Layout */
#topNav {
  color: white;
  font-size: 25px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  height: 3%;
  padding: 10px 15px;

  /* Gradient */
  background: #191919; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191919', endColorstr='#2f2f2f'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#191919), to(#2f2f2f)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #191919,  #2f2f2f); /* for firefox 3.6+ */
}

#listView {
  position: relative;
  float: left;
  width: 30%;
  height: 100%;
  border-right: 1px solid #c5c5c4;
}

#detailView {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 25px;
  background-color: #f7f7f5;
  font-size: 25px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Interior Elements */
#detailView img {
  width: 250px;
  float: left;
  margin-right: 25px;
}

#listView .listItem {
  padding: 8px;
  overflow: hidden;
  font-family: "Helvetica Neue", Arial, sans-serif;
}   

#listView .listItem.selected {
  position: relative;
  z-index: 100;
  width: 102%;
  border: 1px solid #c5c5c4;
}

#listView .listItem img {
  width: 60px;
  float: left;
  margin-right: 8px;
}

#listView .listItem:nth-child(odd) {
  background-color: #ffffff;
}

#listView .listItem:nth-child(even) {
  background-color: #f7f7f5;
}